<nav class="navbar">
        <div class="nav-logo">
            
            <img src="../images/logo.png" alt="Logo" class="logo-img">
            <span>Project Creativity</span>
        </div>
        
        <ul class="nav-links">
            <li><a href="../home/">Home</a></li>
            <li><a href="../home/#about">About</a></li>
            <li><a href="../download/">Download</a></li>
            <li><a href="https://github.com/DaviAlmada-MensaBrasilJB/project-creativity" target="_blank" class="btn-github">Github</a></li>
        </ul>
    </nav>